
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=JetBrains+Mono&family=Rubik');


html {
  /*-- Main font sizes --*/
  --title-size:      36px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #191919;
  --header-color:    rgba(25, 25, 25, 0.8);
  --body-color:      rgba(25, 25, 25, 0.8);
  --aside-color:     rgba(25, 25, 25, 0.6);
  --fig-cap-color:   rgba(25, 25, 25, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Rubik", sans-serif;
  --mono-font:       "JetBrains Mono", monospace;
  --body-font:       "Atkinson Hyperlegible", sans-serif;
  --navbar-font:     "Rubik", sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(25, 25, 25, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(25, 25, 25, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(25, 25, 25, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(25, 25, 25, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #EDEBEB;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #01426A;
}

.distill-site-footer {
  --text-color:       #EDEBEB;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #01426A;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

d-article h1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 18px;
  border-bottom: solid 1px rgba(25, 25, 25, 0.25);
}

d-article h2 {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 9px;
  border-bottom: solid 1px rgba(25, 25, 25, 0.1);
}

d-article h4 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.06rem;
  color:   rgba(25, 25, 25, 0.25);
}